.content {
    min-height: calc( 100vh - 60px );
    background-color: $colorBlur;
    padding: 10px;
    position: relative;
    top: .5px;

    &.no-padding {
        padding: 0
    }
}

.content__actual {
    background: white;
    &.is--padded {
        padding: 10px
    }
}

.page-header {
    background: white;
    margin-bottom: 1rem;
    padding: 10px;

    &.no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

.page-title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.page-subtitle {
    font-size: small;
    color: $colorBlur;
}

.page-content {
    line-height: 20px;
}

.page-layout {
    flex-direction: column;

    .left {
        margin-bottom: 1rem;
    }
}

@media (min-width: $breakpoint-tablet) {
    .page-header.lg-margin {
        margin: 5px
    }

    .page-layout {
        position: relative;
        flex-direction: row;
        .left {
            width: 66.67%;
        }
        .right {
            width: 33.33%;
        }
    }
}