.story-board {
    display: flex;
    flex-direction: column;
    color: black;

    &__thumb,
    &__content {
        position: relative;
        width: 100%;
        padding: .5rem;
    }

    &__thumb {
        img {
            width: 100%;
        }
    }

    &__content {
        > * {
            margin-bottom: .5rem;
        }

        > a {
            display: block;
        }
    }

    &__meta {
        display: flex;
        span {
            margin-right: 1rem;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .story-board {
        flex-direction: row;
        &__thumb {
            width: 66.67%;
        }

        &__content {
            width: 33.33%;
        }
    }
}