.button {
    font-weight: 400;
    letter-spacing: -.005em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-size: 1rem;
    line-height: 1.5;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    height: 40px;
    text-decoration: none;
    border: solid 1px transparent;
    text-align: center;
    transition: all 250ms cubic-bezier(0.34, 1.61, 0.7, 1);
    white-space: nowrap;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 4px;
    min-width: 112px;
    box-shadow: 0 2px 2px -1px rgba(54, 97, 126, 0.3);

    &:focus {
        outline: none;
    }

    &.is-primary {
        background-color: $primaryColor;
        border-color: $primaryColor;
        color: #FFF;
    }
}
